.row {
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.flex-item {
  width: 25%;
}
@media screen and (max-width: 500px) {
  .flex-item {
    width: 50%;
  }
}
@media screen and (max-width: 350px) {
  .flex-item {
    width: 100%;
  }
}
.fullscreen {
  width: 100%;
}
.col-md-12 {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  background-color: black;
  margin: 0, auto;
  padding: 0;
  box-sizing: border-box;
}
.navbar-nav {
  float: right;
  margin-top: 32px;
}
.navbar {
  margin-bottom: 0;
}
#gb-logo {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
footer {
  padding-top: 15px;
}
#footer-logo {
  position: relative;
  top: -10px;
}
.ng-scope {
  margin: 0;
  padding: 0;
}
.font-s-17 {
  font-size: 17px;
}
.font-s-15 {
  font-size: 15px;
}
.font-s-20 {
  size: 20px;
}
.font-s-25 {
  font-size: 25px;
}
.font-s-30 {
  font-size: 30px;
}
.font-s-35 {
  font-size: 35px;
}
.ariel {
  font-family: Arial, Helvetica, sans-serif;
}
